*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;

    background:linear-gradient(135deg,#f6f4f4,#4f46e5,#7c3aed);

}

.container{

    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}

.login-form{

    width:380px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.2);

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.3);

    color:white;

}

.login-form h2{

    text-align:center;
    margin-bottom:10px;
    font-size:32px;

}

.login-form p{

    text-align:center;
    margin-bottom:30px;
    color:#ddd;

}

.input-box{

    margin-bottom:20px;

}

.input-box input{

    width:100%;

    padding:15px;

    border:none;

    outline:none;

    border-radius:10px;

    background:rgba(255,255,255,.18);

    color:white;

    font-size:16px;

    transition:.3s;

}

.input-box input::placeholder{

    color:#ddd;

}

.input-box input:focus{

    background:rgba(255,255,255,.25);

    transform:scale(1.02);

}

.options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

    font-size:14px;

}

.options label{

    display:flex;
    gap:5px;
    align-items:center;

}

.options a{

    color:white;

    text-decoration:none;

}

.options a:hover{

    text-decoration:underline;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:white;

    color:#2563eb;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#eb9525;

    color:white;

    transform:translateY(-3px);

}

.register{

    margin-top:25px;

    text-align:center;

    font-size:15px;

}

.register a{

    color:white;

    font-weight:bold;

    text-decoration:none;

}

.register a:hover{

    text-decoration:underline;

}

@media(max-width:500px){

.login-form{

    width:90%;
    padding:30px;

}

}